celery
Django
python-dotenv
django-environ
stripe
Pillow
django-crispy-forms
djangorestframework
django-cors-headers
django-stripe-payments
django-tinymce
django-widget-tweaks
requests
pydantic
gunicorn
nltk
openai
python-decouple
python-docx
PyPDF2
pymysql
django-redis
django-celery-results
django-celery-beat
tiktoken
whitenoise
upstash-redis