celery
Django
python-dotenv
stripe
Pillow
django-celery-results
django-crispy-forms
djangorestframework
django-cors-headers
django-stripe-payments
django-tinymce
django-widget-tweaks
requests
pydantic
gunicorn
nltk
openai
python-environ
python-docx
PyPDF2
psycopg2-binary
django-redis
django-celery-results
django-celery-beat
tiktoken
whitenoise
upstash-redis